header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding-top: 1%;
  .logo {
    // font-size: 2rem;
    // font-weight: 700;
    img {
      height: 40px;
      width: auto;
    }
  }
  nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (min-width: 500px) {
      nav {
        width: 50%;
      }
    }
    a {
      font-size: 1.8rem;
      text-decoration: none;
      color: black;
      &:hover {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        transform: scale(1.1);
      }
    }
  }
}
